/*  ==========================
      BRANDING
    ========================== */
$primary-color: #0075bc; /* Blue */
$secondary-color: #15171a; /* Darker Gray */
$tertiary-color: #707480; /* Light Gray */
$quaternary-color: #27292f; /* Dark Gray */
