.container {
    background: #ccc;
    width: 960px;
    margin: auto;
}
[class^="row-"] {
    
}
.row[class*="row-"] > .col {   
    float: left;
    display: inline-block;
}
.row[class*="-4"] > .col {
    width: calc(100% / 3);
}