/*  ==========================
      NAVIGATION
    ========================== */
nav.style-nav {
    padding: 0;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    height: 100vh;
    overflow: visible;
    position: fixed;
    z-index: 10;
    @include media("<sm") {
        height: 50px;
        font-size: 1.4rem;
    }
    ul {
        height: 100vh;
        background: #15171a;
        @include media("<sm") {
            height: auto;
        }
        .nav-items {
            overflow: hidden;
            max-height: 1000px;
            transition: .5s ease all;
            @include media("<sm") {
                max-height: 0;
            }
        }
        li {
            a, label {
                background: none;
                color: #b7bbc7;
                display: block;
                line-height: 1.5rem;
                padding: 2rem 1rem;
                overflow: hidden;
                text-decoration: none;
                &:before {
                    content: "\2022";
                    display: block;
                    font-size: 14rem;
                    height: 50px;
                    @include media("<sm") {
                        display: none;
                    }
                }
            }
            &:hover {
                > a, > label {
                    background: #000;
                    color: #fff;
                    &:before {
                        color: $primary-color;
                    }
                }
                /* --->>> Sub Menu Slide In <<<--- */
                ul {
                    left: 100%;
                    @include media("<sm") {
                        left: 0;
                    }
                }
            }
        }


        /* --->>> Sub Menu <<<--- */
        ul {
            position: absolute;
            top: 0;
            left: -130%;
            transition: .6s ease all;
            z-index: -10;
            height: 100vh;
            background: #000;
            @include media("<sm") {
                position: relative;
                top: 0;
                left: 0;
                z-index: 1;
                max-height: 0;
                height: auto;
                transition: .5s ease all;
            }
        }
    }
    /* --->>> Level Styles <<<--- */
    > ul {
      > li {
        > ul {
          > li {
            a {
              background: #000;
              color: #b7bbc7;
              &:hover {
                  background: transparent;
                  color: #fff;
              }
            }
          }
        }
      }
    }
}
