/*  ==========================
      NAVIGATION
    ========================== */
nav.style-nav {
    padding: 0;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    height: 100vh;
    overflow: visible;
    position: fixed;
    z-index: 10;
    li {
        a {
            background: none;
            color: #b7bbc7;
            display: block;
            line-height: 1.5rem;
            padding: 2rem 1rem;
            overflow: hidden;
            text-decoration: none;
            animation: first-animation 2s infinite, another-animation 1s;
            &:before {
                content: "\2022";
                display: block;
                font-size: 14rem;
                height: 50px;
            }
        }
        &:hover {
            a {
                background: #000;
                color: #fff;
                &:before {
                    color: $primary-color;
                }
            }
        }
    }
    li:hover {
        ul {
            left: 100%;
        }
    }
    ul {
        ul {
            position: absolute;
            top: 0;
            left: -9999px;
            z-index: 10;
            height: 100vh;
            background: #000;
        }
    }
}
