.sg-color {
  &.sg-color--a {
    .sg-color-swatch {
      background: #0075bc;
    }
  }

  &.sg-color--b {
    .sg-color-swatch {
      background: #15171a;
    }
  }

  &.sg-color--c {
    .sg-color-swatch {
      background: #707480;
    }
  }

  &.sg-color--d {
    .sg-color-swatch {
      background: #27292f;
    }
  }

  &.sg-color--e {
    .sg-color-swatch {
      background: #82c341;
    }
  }

  &.sg-color--f {
    .sg-color-swatch {
      background: #ffba00;
    }
  }

  &.sg-color--g {
    .sg-color-swatch {
      background: #e40040;
    }
  }

  &.sg-color--h {
    .sg-color-swatch {
      background: #f4f4f4;
    }
  }

  &.sg-color--i {
    .sg-color-swatch {
      background: #bebec0;
    }
  }

  &.sg-color--j {
    .sg-color-swatch {
      background: #fafafa;
    }
  }

  &.sg-color--k {
    .sg-color-swatch {
      background: #cce3f2;
    }
  }
}