/*  ==========================
      CONTENT
    ========================== */
.container {
  background: #ccc;
  margin: auto;
  width: 960px;
}

main, .main {
  padding: 0 2rem;
}

section {
    margin-bottom: 3rem;
}
