/*  ==========================
      CONTENT
    ========================== */
.container {
  background: #ccc;
  margin: auto;
  width: 960px;
}

main, .main {
  margin-left: 250px;
  padding: 0 2rem;
}
