$gray: #a7a9ac; //lighter gray
$gray-box: #c9c9c9; //gray background for sections
$light-blue: #00afde; //lighter blue
$dark-blue: #1b74bb; //blue background for sections
$dark-purple: #000043; //dark blue/purple
$light-purple: #8383a4; //light purple
$white: #FFF;

$primary-color: #0075bc;
$secondary-color: #27292f;
$tertiary-color: #000;

$dark-color: #000;
$light-color: #ffffff;

$link-color: #0075bc;
