/* ---->>> Paragraphs <<<--- */
.upsize, .lead-in {
    font-size: 1.8rem;
}
.lead-in {
    color: $primary-color;
}
.downsize, .mousetype {
    font-size: 1.2rem;
}
.mousetype {
    color: $tertiary-color;
}
